// Variable Overrides
$enable-gradients: true !default;

$theme-colors: (
  "primary": #f6d365,
  "secondary": #4d5c6b
);
$table-hover-bg: #f8f9fa;

$font-size-base: 0.9rem;

$tooltip-bg: #4d5c6b;

.bh-cards .fas {
  font-size: 2rem;
}

.r180 {
  transform: rotate(180deg);
}

.bg-grad {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.bg-white {
  background: #FFF;
}
.hero-section {
  padding: 10rem 0;
}

.bh-hero-select {
  min-height: 8rem;
}

.bh-hero-select .card-body:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.listgroup-100 {
  width: 100% !important;
}

#air h2 {
  line-height: 1.8em;
}
.airline {
  padding: 4px 7px;
  text-transform: uppercase;
  margin: 0 2px;
  background: #4d5c6b;
  color: #FFF;
}

$font-family-base: 'Roboto Mono';

$navbar-padding-y: 20px;

.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #333;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
